<html>
  <head>
    <style></style>
  </head>

  <body style="margin: 0; padding: 0; background-color: #f4f4f4">
    <div
      class="container"
      style="padding: 2.5% 0; width: 100%; background-color: #f4f4f4"
    >
      <div
        class="content"
        style="
          width: min(680px, 95%);
          background-color: #ffffff;
          margin: 0 auto;
        "
      >
        <img
          style="width: 100%; min-height: 10em; object-fit: cover"
          src="https://s3-leandr1n-public.s3.sa-east-1.amazonaws.com/hypo-banner.png"
        />
        <div
          id="main-div"
          style="
            width: 80%;
            margin: 0 auto;
            padding: 1.8em 12px;
            text-align: center;
          "
        >
          <h1 style="font-size: 28px; margin-bottom: 32px">
            Bem vindo, {{name}}
          </h1>
          <p style="margin-bottom: 1.7em">
            Para verificar sua conta e <b>concluir o seu cadastro</b>, acesse o
            link abaixo:
          </p>
          <a href="{{verificationLink}}" target="_blank"
            >{{verificationLink}}</a
          >
          <div id="signature" style="margin-top: 64px; line-height: 0.2">
            <p>Atenciosamente,</p>
            <p id="company-name" style="font-weight: bold">Hippo</p>
          </div>
        </div>
      </div>
      <div
        style="
          text-align: center;
          width: 40%;
          color: #a5a8b4;
          margin: 0 auto;
          margin-top: 32px;
          font-size: 12px;
        "
        id="footer-div"
      >
        <ul
          style="list-style: none; margin: 0; padding: 0; margin-bottom: 16px"
        >
          <li style="display: inline; margin: 0 2px">
            <a href="https://github.com/leandroftassara" target="_blank">
              <img
                style="width: 24px"
                class="icons"
                src="https://s3-leandr1n-public.s3.sa-east-1.amazonaws.com/github-icon.png"
            /></a>
          </li>
          <li style="display: inline; margin: 0 2px">
            <a
              href="https://www.instagram.com/leandroftassara/"
              target="_blank"
            >
              <img
                style="width: 24px"
                class="icons"
                src="https://s3-leandr1n-public.s3.sa-east-1.amazonaws.com/instagram-icon.png"
            /></a>
          </li>
          <li style="display: inline; margin: 0 2px">
            <a
              href="https://www.linkedin.com/in/leandrotassara/"
              target="_blank"
            >
              <img
                style="width: 24px"
                class="icons"
                src="https://s3-leandr1n-public.s3.sa-east-1.amazonaws.com/linkedin-icon.png"
            /></a>
          </li>
        </ul>
        <p style="line-height: 0.2">Hippo Company</p>
        <p style="line-height: 0.2">Belo Horizonte - MG</p>
      </div>
    </div>
  </body>
</html>
